{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <ul>
        {% for article in articles %}
            <li>{{ article.titre }}</li>
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}